In [3]:
import numpy as np
import pandas as pd

In [6]:
df=pd.read_csv("../data/raw/BoilerPlant.csv")
df.head(10)

,Datetime,BOI_FLOW_1,BOI_FLOW_2,BOI_GAS_CSUM_1,BOI_GAS_CSUM_2,BOI_RW_TEMP_1,BOI_RW_TEMP_2,BOI_STA_1,BOI_STA_2,BOI_SW_TEMP_1,...,HWL_RW_TEMP,HWL_SW_TEMP,OA_TEMP,PM_POW_1,PM_POW_2,PM_SPD_1,PM_SPD_2,PM_STA_1,PM_STA_2,SEC_POW
0,2018-01-01 01:00:00,364.566101,0.00068,1726.88233,0.0,99.939835,68.002411,1.0,0.0,124.927963,...,112.734955,124.921814,9.070051,11.446084,11.446084,1.0,1.0,1.0,1.0,501.202392
1,2018-01-01 01:01:00,364.566101,0.00068,1726.88233,0.0,100.435318,68.002525,1.0,0.0,125.432343,...,113.130737,125.426247,8.771828,11.446084,11.446084,1.0,1.0,1.0,1.0,501.943166
2,2018-01-01 01:02:00,364.566101,0.00068,1726.88233,0.0,100.927284,68.002640,1.0,0.0,125.931839,...,113.536903,125.925797,8.786055,11.446084,11.446084,1.0,1.0,1.0,1.0,503.352647
3,2018-01-01 01:03:00,364.566101,0.00068,1726.88233,0.0,101.416176,68.002747,1.0,0.0,126.427155,...,113.955147,126.421173,8.800337,11.446084,11.446084,1.0,1.0,1.0,1.0,503.194593
4,2018-01-01 01:04:00,364.566101,0.00068,1726.88233,0.0,101.902542,68.002853,1.0,0.0,126.918961,...,114.381531,126.912971,8.814619,11.446084,11.446084,1.0,1.0,1.0,1.0,503.895945
5,2018-01-01 01:05:00,364.566101,0.00068,1726.88233,0.0,102.390610,68.002960,1.0,0.0,127.408401,...,114.977264,127.402466,8.828846,11.446084,11.446084,1.0,1.0,1.0,1.0,434.869832
6,2018-01-01 01:06:00,364.566101,0.00068,1726.88233,0.0,102.899391,68.003075,1.0,0.0,127.902184,...,116.289192,127.896141,8.857410,11.446084,11.446084,1.0,1.0,1.0,1.0,124.506489
7,2018-01-01 01:07:00,364.566101,0.00068,1726.88233,0.0,103.435463,68.003189,1.0,0.0,128.408936,...,117.588165,128.402664,8.857410,11.446084,11.446084,1.0,1.0,1.0,1.0,606.821563
8,2018-01-01 01:08:00,364.566101,0.00068,1726.88233,0.0,103.973465,68.003296,1.0,0.0,128.931549,...,117.587227,128.925171,8.871637,11.446084,11.446084,1.0,1.0,1.0,1.0,606.821563
9,2018-01-01 01:09:00,364.566101,0.00068,1726.88233,0.0,104.493942,68.003403,1.0,0.0,129.455872,...,117.668198,129.449493,8.885920,11.446084,11.446084,1.0,1.0,1.0,1.0,586.595978

In [7]:
df.isna().sum()

Datetime          0
BOI_FLOW_1        0
BOI_FLOW_2        0
BOI_GAS_CSUM_1    0
BOI_GAS_CSUM_2    0
BOI_RW_TEMP_1     0
BOI_RW_TEMP_2     0
BOI_STA_1         0
BOI_STA_2         0
BOI_SW_TEMP_1     0
BOI_SW_TEMP_2     0
HWL_DP            0
HWL_DPSPT         0
HWL_RW_TEMP       0
HWL_SW_TEMP       0
OA_TEMP           0
PM_POW_1          0
PM_POW_2          0
PM_SPD_1          0
PM_SPD_2          0
PM_STA_1          0
PM_STA_2          0
SEC_POW           0
dtype: int64